name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  npm-build:
    name: "node: Build and test"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 18-latest
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: yarn-

      - name: Dependency install and integrety check
        run: yarn install --frozen-lockfile

      - run: yarn lint-ci

      - run: yarn test --ci

      - run: yarn build

  docker-build:
    name: "docker: Build"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.DOCKER_IMAGE_NAME }}
          tags: |
            type=ref,event=pr
            type=sha
          labels: |
            org.opencontainers.image.title=CodeCoach
            org.opencontainers.image.description=Automated code review tool
            org.opencontainers.image.licenses=MIT

      - name: Build and push PR image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}